body {
	width: 100%;
	background-color: #ffff;
}
header{ 
width: 100%;
background-color: #FF7F65;
border: 1px solid #F2F482;
background-image: url("travel-concept.png");
background-repeat: no-repeat;
background-position: right;
}
nav {
	width: 20%;
	background-color: #FF7F65; 
	border: 1px solid #F2F482;
	float:left;
	height: 50em;
	margin-right: 1em;
	margin-top: 1em;
	padding: 1em;
}
footer {
	clear:both;
	width: 100%;
	background-color: #FF7F65; 
	border: 1px solid #F2F482;
	padding: 1em;
}

aside{
	width: 15%;
	height: 50em;
	margin-top: 1em;
	margin-left: 1em;
	margin-right: 1em;
	padding: 1em;
background-color: #FF7F65;
color: black;
	float: right;
}